# === OS ===
.DS_Store

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# === Go ===
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# === IDEs ===
.idea/
.vscode/
*.swp
*.swo
*~

# === Environment ===
.env
!.env.example
